<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>You have so much to do!</h1>

  <% @todos.each do |todo|  %>
    <div>
      <li><%= todo[:description] %></li>
    </div>
  <% end %>

  <br><br>
  <h2>Thought of more stuff to do?</h2>
  <%= form_for :item do |f| %>
    <p>
      <%= f.label :Add_Item %><br>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

</body>
</html>